{% extends "base.html" %}

{% block title %}{{ object.slug }}{% endblock title %}

{% block content %}
    <div class="container mt-5">

        <ul class="list-group">
            <li class="list-group-item d-flex">
                <img class="article_img" src="{{ object.image.url }}" alt="{{ object.slug }}" style="width: 100%;">
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">
                    Title :
                </div>
                <div>{{ object.title }}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="mr-15">
                    Tag :
                </div>
                <div>{{ object.tag }}</div>
            </li>
            <li class="list-group-item d-flex">
                <a href="{% url 'article:article_list' %}">back</a>
            </li>
        </ul>
    </div>
{% endblock %}