{% extends "base.html" %}

{% block content %}


    <div class="container mt-5">
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title:</label>
                <input type="text" class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.name }}"
                       value="{{ form.title.value|default:'' }}">
                {% if form.title.errors %}
                    <div class="text-danger">
                        {{ form.title.errors.0 }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.body.id_for_label }}">Body:</label>
{{ form.body }}

                {% if form.body.errors %}
                    <div class="text-danger">
                        {{ form.body.errors.0 }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.category.id_for_label }}">Category:</label>
                <select class="form-control" id="{{ form.category.id_for_label }}" name="{{ form.category.name }}">
                    {% for choice in form.category.field.choices %}
                        <option value="{{ choice.0 }}" {% if form.category.value == choice.0 %} selected {% endif %}>
                            {{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
                {% if form.category.errors %}
                    <div class="text-danger">
                        {{ form.category.errors.0 }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.image.id_for_label }}">Image:</label>
                <input type="file" class="form-control" id="{{ form.image.id_for_label }}" name="{{ form.image.name }}"
                       accept="image/*">
                {% if form.image.errors %}
                    <div class="text-danger">
                        {{ form.image.errors.0 }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        <a href="{% url 'article:article_list' %}">back</a>
    </div>
{% endblock %}