{% extends 'base.html' %}

{% block title %}Article List{% endblock title %}

{% block content %}



    <div class="row">
    <div class="col">
        <div class="row mb-3">
            <div class="col-md-12">
                <a href="{% url 'article:article_create' %}" class="btn btn-dark">Create New Article</a>
            </div>
        </div>
    </div>
        <div class="col">
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="search" name="search"
                       value="{{ request.GET.search }}">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="submit">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>
        <div class="row">
            {% for article in articles %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ article.image.url }}" alt="{{ article.slug }}" style="width:100%;">
                        <div class="caption">
                            <h3>{{ article.title }}</h3>
                            <p>{{ article.body|truncatewords:20 }}</p>
                            <p><a href="{% url 'article:article_detail' article.slug %}" class="btn btn-dark"
                                  role="button">View</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="pagination">
            <span class="step-links ">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

{% endblock %}