{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Hillel App{% endblock title %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    {#    <script src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>#}
    {#    <script src="{% url "tinymce-js" "NAME" %}"></script>#}
    {#    <script src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>#}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js"
            integrity="sha512-6JR4bbn8rCKvrkdoTJd/VFyXAN4CE9XMtgykPWgKiHjou56YDJxWsi90hAeMTYxNwUnKSQu9JPc3SQUg+aGCHw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {#{{ form.media }}#}

</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="">ADearn</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_list' %}">Article</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item position-relative">
                            <a href="{% url 'accounts:notification_list' %}" class="btn btn-light mr-2">

                                {% if unread_notification_count %}
                                    <p class="rounded-circle pr-2 pl-2 mb-0 bg-success text-white">{{ unread_notification_count }}</p>

                                {% else %}
                                    <i class="bi bi-chat-left-text"></i>
                                {% endif %}


                            </a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:profile' user.id %}"
                               class="btn btn-light mr-2">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'accounts:logout' %}">
                                {% csrf_token %}
                                <button class="btn btn-light" type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-light mr-2" href="{% url 'accounts:login' %}?next={{ request.path }}">Login</a>
                        </li>
                        <li>
                            <a class="btn btn-light" href="{% url 'accounts:register' %}?next={{ request.path }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>



<div class="container mt-3">

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

    {% block content %}
    {% endblock content %}
</div>

<script>

    tinymce.init({
        selector: 'textarea',
        plugins: 'link',
    });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>