{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<div class="header">
    <h1>Welcome to HR System</h1>
</div>

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a simple home page for the HR application.</p>
  <hr class="my-4">
  <p>You can manage employees or calculate salaries from here.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'article:article_list' %}" role="button">Article List</a>
  </p>
</div>
{% endblock content %}