{% extends "base.html" %}

{% block content %}
    <h2>Register</h2>
        <form method="post" class="form">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}"
                       value="{{ form.username.value|default:'' }}">
                {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                <input type="text" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}"
                       value="{{ form.email.value|default:'' }}">
                {% if form.email.errors %}
                    <div class="text-danger">
                        {{ form.email.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}"
                       value="{{ form.password1.value|default:'' }}">
                {% if form.password1.errors %}
                    <div class="text-danger">
                        {{ form.password1.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Password confirm:</label>
                <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}"
                       value="{{ form.password2.value|default:'' }}">
                {% if form.password2.errors %}
                    <div class="text-danger">
                        {{ form.password2.errors.0 }}
                    </div>
                {% endif %}
            </div>


            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
{% endblock %}
